.custom-form-signup {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .custom-form-signup {
    margin: 0 auto;
    max-width: 70%;
  }
}

@media (min-width: 1300px) {
  .custom-form-signup {
    margin: 0 auto;
    max-width: 65%;
  }
}
