.container-perfil-account {
  padding: 2rem;
  border-radius: 1rem;
}

.container-perfil-account__header {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 1rem;

  .ant-avatar.ant-avatar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-upload {
    margin-left: 1rem;
    margin-top: 0.7rem;

    p {
      margin: 0;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0;
    }
  }

  .ant-upload-picture-card-wrapper {
    display: block;
    width: auto;
  }
}
